@font-face {
   font-family: 'Trajan Pro';
   font-display: swap;
   src: url('file:///C:/Users/RYZEN/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-04-20_160842/fonts/Trajan%20Pro/font.ttf');
}
